[package]
name = "expander_compiler"
version = "0.1.0"
edition = "2021"


[dependencies]
ark-std.workspace = true
rand.workspace = true
chrono.workspace = true
clap.workspace = true
ethnum.workspace = true
halo2curves.workspace = true
tiny-keccak.workspace = true
mpi_config.workspace = true
gkr_field_config.workspace = true
expander_config.workspace = true
expander_circuit.workspace = true
expander_transcript.workspace = true
gkr.workspace = true
arith.workspace = true
gf2.workspace = true
mersenne31.workspace = true
crosslayer_prototype.workspace = true

[[bin]]
name = "trivial_circuit"
path = "bin/trivial_circuit.rs"
