[package]
name = "expander_compiler"
version = "0.1.0"
edition = "2021"


[dependencies]
arith.workspace = true
ark-std.workspace = true
chrono.workspace = true
clap.workspace = true
ethnum.workspace = true
halo2curves.workspace = true
tiny-keccak.workspace = true
mpi_config.workspace = true
gkr_field_config.workspace = true
expander_config.workspace = true
expander_circuit.workspace = true
expander_transcript.workspace = true
gkr.workspace = true
arith.workspace = true
gf2.workspace = true
mersenne31.workspace = true
macros = {path = "./macros" }
crosslayer_prototype.workspace = true
poly_commit.workspace = true
polynomials.workspace = true
sumcheck.workspace = true
rand.workspace = true
serdes.workspace = true

[dev-dependencies]
rayon = "1.9"
sha2 = "0.10.8"

[[bin]]
name = "trivial_circuit"
path = "bin/trivial_circuit.rs"
